*{
    margin: 0px;
    padding:0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
section{
    height: 100vh;
    width: 100vw;
    display: block;
}
header{
    background-color: rgba(0, 0, 0, 0.898);
    display: flex;
    justify-content: space-around;
    color:rgb(255, 0, 234);
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:15px;
    padding-bottom:15px;
}
a{
    text-decoration: none;
    color:blue;
}
#banner{
    background-color: rgb(24, 5, 28);
    text-align: center;
}
.body{
    background-size: cover;
    background-repeat: none;
}
#pinksun{
    background-image: url('images/pinksun.gif');
    width: 300px;
    height: 300px;
    display: inline-block;
    position: relative;
    animation: psunmotion 35s linear infinite;
}
@keyframes psunmotion{
    0%{
        transform: translate(-500px , -1000px)(0.4,0.4);
    }
    100%{
        transform: translate(1000px, 1000px) scale(1,1);
    }
}
#akivaman{
    background-image: url('images/akivaman.gif');
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    animation: akivabig 25s;
}
@keyframes akivabig{
    0%{
        transform: scale(1,1) rotate(360deg);
    }
    100%{
        transform: scale(3,3) rotate(-360deh);
    }
}
#bluesun{
    background-image: url('images/bluesun.gif');
    width: 300px;
    height: 300px;
    display: inline-block;
    position: relative;
    animation: bsunmotion 25s linear infinite;
}
@keyframes bsunmotion{
    0%{
        transform: translate(300px,500px) scale(1,1);
    }
    
    100%{
        transform: translate(100px, -500px) scale(0.8,0.8);
    }
}
#pinkplanet{
    background-image: url('images/pinkplanet.gif');
    width: 250px;
    height: 250px;
    display: inline-block;
    position: relative;
    animation: pplanetmotion 45s infinite;
}
@keyframes pplanetmotion{
    0%{
        transform: translate(1000px,300px) scale(0.2,0.2) skew(0deg);
    }
    100%{
        transform: translate(-2000px, -300px) scale(3,3) skew(15deg);
    }
}
#blueplanet{
    background-image: url('images/blueplanet.gif');
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    animation: bplanetmotion 7s linear infinite;
}
@keyframes bplanetmotion{
    0%{
        transform: translate(1000px,-1000px) scale(1,1) skew(0deg) rotate(-180deg);
    }
    100%{
        transform: translate(-1000px, 1000px) scale(0.8,0.8) skew(-45deg) rotate(180deg);
    }
}
audio{
    width: 30vw;
    height: 3vh;
}
